* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
    color: #ff6f00;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.btn {
    padding: .5rem 1rem;
    background: #ff6f00;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn:hover {
    background: #ef5c01;
    color: white !important;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    outline: none;
    color: #444;
    line-height: 1.2rem;
    font-family: "Lora", serif;
}

/* NAVBAR */

header {
    background-color: #ff6f00;
    height: 66px;
}

header * {
    color: white;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin-left: 0px;
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    display: inline-block;

}

header .logo-text span {
    color: #adfffd;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    margin-right: 2em;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    padding: 20px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background-color: #ef5c01;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}

.page-wrapper a:hover {
    color: orange;
}

/* POST SLIDER */
.post-slider {
    position: relative;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #ff6f00;
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #ff6f00;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    height: 330px;
    width: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 5px 10px;
    overflow: auto;
}

.post-slider .post-wrapper .post .post-info .fa-user, .post-slider .post-wrapper .post .post-info .fa-calendar{
    padding: 10px 0px;
    font-size: .75em;
    font-weight: bold;
    color: #785f50;
}

.post-slider .post-wrapper .post .post-info span{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2em;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* CONTENT */
.content {
    width: 90%;
    margin: 30px auto 30px;
}

.content .main-content {
    width: 70%;
    float: left;
}

.content .main-content .recent-post-title {
    margin: 20px;
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .main-content .post .post-preview .fa-user, .content .main-content .post .post-preview .fa-calendar{
    padding: 10px 10px;
    font-size: .7em;
    font-weight: bold;
    color: #785f50;
}

.content .main-content .post .post-preview span{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.4em;
}

.content .main-content .post .post-preview p{
    font-weight: bold;
    color: #785f50;
}

.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid #ff6f00;
    font-weight: bold;
    background: transparent;
    border-radius: 0px;
    color: #ff6f00 !important;
}

.content .main-content .post .read-more:hover {
    background: #ff6f00;
    color: white !important;
    transition: .25s;
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}

.content .main-content .post .post-preview {
    width: 60%;
    float: right;
    padding: 10px;
}

.content .sibebar {
    width: 30%;
    float: left;
    height: 300px;
}

.content .sibebar .section {
    margin: 20px 10px 20px 0px;
    margin-left: 10px;
    border: 3px solid #d3d3d3;
    font-weight: bold;
}

.content .sibebar .section h2{
    margin-top: 10px; 
    text-align: center; 
    color:  #ff6f00;
}

.content .sibebar .section.search {
    margin-top: 87.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.content .sibebar .section.search .section-title {
    margin-bottom: 25px;
}

.content .sibebar .section.projects ul {
    margin-bottom: 15px; 
    margin-top: 15px;
    list-style: none;
}

.content .sibebar .section.projects ul li {
    color: #785f50; 
    font-size: 20px;
    padding: 5px;
}

.content .sibebar .section.projects ul li a {
    transition: all .3s;
}

.content .sibebar .section.projects ul li a:hover {
    padding-left: 15px;
    transition: all .3s;
}

.page-wrapper .sibebar .section.social ul {
    margin-bottom: 10px; 
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content .sibebar .section.social ul a {
    padding: 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 875px) {
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background-color: #fd8122;
        margin-right: 0px;
        max-height: 0px;
        overflow: hidden;
    }
    .showing {
        max-height: 100em;
    }
    header ul li {
        width: 100%;
    }
    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }
    header .logo {
        margin-left: .5em;
    }
}
